@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gangitem';
  src: url('./fonts/Gangitem.otf') format('opentype');
  font-weight: normal; /* Adjust if needed */
  font-style: normal;
}
.canvas::-webkit-scrollbar {
  display: none;
}
.navbar{
  position: sticky;
  z-index: 18;
}
.canvas {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.canvas{
  width: 80vw;
  height: 80vh;
  margin: 100vh 20vh 20vh 20vh;
  /* margin:20vh; */
  background-color: transparent;
  border-radius: 20px;
  z-index: 12;
  position: relative;
  /* border: 1px solid red; */
  overflow: hidden;
}

.font{
  font-family: 'Gangitem', sans-serif;
}

/* styles/globals.css */
canvas {
  display: block;
}
.horizontal-scroll-container {
  height: 100vh;
  overflow: hidden;
  white-space: nowrap; /* No line breaks */
}

.horizontal-content {
  display: flex;
  height: 100vh;
}

.box {
  min-width: 100vw; /* Each box takes full viewport width */
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #ccc;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 300vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);
  letter-spacing: var(--headlineMedium);
  font-size: var(--headlineMedium);
  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}

.cardContainer{
  width: 100vw;
  height: 100vh;
  margin-top: 50vh;
  position: sticky;
  top:1000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  flex-direction: column;
  overflow-y: auto;
  scroll-snap-type: y mandatory; 
}
.cardContainer::-webkit-scrollbar {
  display: none; /* Hides scrollbar for WebKit browsers */
}
.card{
  width:100vw;
  height: 900px;
  position: relative;
  text-align: center;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top:-10% */
}

body{
  scroll-behavior: smooth;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}
.parallelogram {
  transform:rotate(30deg) skew(30deg,20deg);
  display: flex;
  margin: 5px;
  padding: 5px;
  gap: 10px;
  /* transform:; */
}

ul { 
  /* margin: 150px auto 0;  */
  /* padding: 0;  */
  list-style: none; 
  display: table;
  /* width: 600px; */
  text-align: center;
  /* position: absolute; */
  z-index: 12;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  /* color: #fff; */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  color:aqua;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
  color:#D9F24E
}
a:hover { 
  width: 100%; 
  left: 0; 
  color:#D9F24E
}


/* @import '../components/Layout/style.css'; */

.main .header {
    display: flex;
    gap: 15px;
    padding: 40px;
    height: 30px;
    position: fixed;
    left: 0px;
    top: 0px;
}

.main .header a {
    text-decoration: none;
    color: black;
}

.main .header a:hover {
    text-decoration: underline;
}

.main .page {
    padding: 40px;
    min-height: calc(100vh - 80px);
}

.main h1 {
    margin-top: 50px;
}

.main .body {
    display: flex;
    /* gap: 40px; */
}

/* Styles for the curve component */
.curve 
.curve .background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
}

.curve .background {
    /* background-color: black; */
    transition: opacity 0s linear 0.1s;
}

.curve .route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    z-index: 3;
    transform: translateX(-50%);
    text-align: center;
}


/* Custom background images */
/* Custom background images from local assets */
.bg-image-one {
  background-image: url('../public/assets/TeqLogo.png');
  background-size: cover; /* Ensure the image covers the div */
  background-position: center; /* Center the background image */
}

.bg-image-two {
  background-image: url('../public/assets/TeqnLogoFull1.png');
  background-size: cover; /* Ensure the image covers the div */
  background-position: center; /* Center the background image */
}

/* Set the default properties */
.sudo {
  position: relative; /* To position absolute children */
  width: 20px; /* Initial width */
  height: 40px; /* Set a fixed height */
  overflow: hidden; /* Hide overflow to prevent showing the second image initially */
  cursor: pointer;
  z-index: 17;
}
.sudo1 {
  position: relative; /* To position absolute children */
  /* width: 100px; */
  overflow: hidden; /* Hide overflow to prevent showing the second image initially */
  cursor: pointer;
  z-index: 17;
}

/* Control the opacity and width */
.bg-image-two {
  opacity: 0; /* Initially hidden */
  width: 0; /* Set initial width to 0 */
}

/* On hover, show the second image and adjust the container width */
.sudo:hover .bg-image-one {
  opacity: 0; /* Hide first image */
}

.sudo:hover .bg-image-two {
  opacity: 1; /* Show second image */
  width: 150px; /* Set width on hover */
}

.sudo:hover {
  width: 150px; /* Expand the container width on hover */
}
footer {
  /* background-color: #d8d8d8; */
  color: #080808;
  /* padding: 20px; */
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 140px; /* You can adjust this if needed */
}
footer li {
  padding: 0;
  margin: 0;
}
/* Marquee Container */
.custom-footer-marquee {
  margin-top:20vh;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  z-index: 22;
}

/* Text Animation */
.custom-footer-text {
  display: inline-block;
  animation: scroll-left 28s linear infinite;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

/* Keyframes for the scrolling text */
@keyframes scroll-left {
  0% {
    transform: translateX(0); /* Starts from the right */
  }
  100% {
    transform: translateX(-50%); /* Move left by half of its length */
  }
}
.video-container {
  position: absolute;
  width: 100%;
  height: 100vh; /* Full height */
  overflow: hidden; /* Hide any overflow */
  z-index: 12;
}
/*  */