/* src/VideoBackground.css */
.video-container {
    position: absolute;
    width: 100%;
    height: 100vh; /* Full height */
    overflow: hidden; /* Hide any overflow */
    z-index: 12;
}
.video-container1 {
    position: absolute;
    width: 100%;
    height: 100vh; /* Full height */
    overflow: hidden; /* Hide any overflow */
    z-index: 12;
    margin-top: -200vh;
}
.video-container2 {
  position: absolute;
  width: 100%;
  height: 100vh; /* Full height */
  overflow: hidden; /* Hide any overflow */
  z-index: 12;
  margin-top: -300vh;
}
.video-background2 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Place video behind text */
  transform: translate(-50%, -50%);
  /* filter:  brightness(0.8) contrast(0.8);  */
}

.video-background1 {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Place video behind text */
    transform: translate(-50%, -50%);
    /* filter:  brightness(0.8) contrast(0.8);  */
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Place video behind text */
    transform: translate(-50%, -50%);
    /* filter:  brightness(0.8) contrast(0.8);  */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    text-align: center; /* Center text */
    z-index: 1; /* Place text above video */
}
.overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Text color */
    text-align: center; /* Center text */
    z-index: 1; /* Place text above video */
}

h1 {
    font-size: 3em; /* Adjust size as needed */
    margin: 0;
}

p {
    font-size: 1.5em; /* Adjust size as needed */
}
/* components/MovingText.module.css */
/* components/MovingText.module.css */
/* Add this to your CSS file */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
  }
  
  .marquee p {
    display: inline-block;/* Padding creates space for the animation to start */
    animation: marquee 20s linear infinite; /* Adjust the speed if necessary */
  }
  
  @keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  /* styles/globals.css or directly in your JSX */
  .z-12, .z-14 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .z-13 {
    position: absolute;
    top: 40%; /* Adjust top percentage as needed */
    left: 50%;
    transform: translate(-50%, -50%);
  }
  